<body class="text-center">
    
    <main class="form-signin">
      <form (ngSubmit)="onLogin()">
        <img class="mb-4" src="images/tomato.png" alt="" width="150" height="57">
        <h1 class="h3 mb-3 fw-normal">Login</h1>
    
        <div class="form-floating mb-4">
          <input type="email" [(ngModel)]="id" name="id" class="form-control" id="floatingInput" placeholder="name@example.com"
          required>
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-4">
          <input type="password" [(ngModel)]="pw" name="pw" class="form-control" id="floatingPassword" placeholder="Password"
          required>
          <label for="floatingPassword">Password</label>
        </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <div class="mb-3">
          <p *ngIf="loginFailed" style="color:red;">plz check your id or password</p>
        </div>
        <div class="mb-3">
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </div>
        <button class="w-100 btn btn-lg btn-secondary" type="button">join the membership</button>
        <p class="mt-5 mb-3 text-muted">{{title}}</p>
      </form>
    </main>
    
    
        
      </body>